<div class="home d-flex justify-content-center align-items-center">



    <div class="">
       

        <form name="editForm" role="form" (ngSubmit)="search()" novalidate [formGroup]="editForm">

           <!--  <div class="form-row">
                <div class="form-group col-md-2 col-sm-2">

                    <label class="form-control-label" for="field_uid">Uid</label>
                    <input type="text" class="form-control form-control-sm" name="criteria" id="field_criteria"
                        formControlName="criteria" />
                </div>
                
            </div> -->
           
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Numéro téléphone ou Code" aria-label="Search"
                  aria-describedby="search-addon" name="criteria" id="field_criteria"
                  formControlName="criteria" />
                <button type="submit" class="btn btn-outline-primary">Rechercher</button>
              </div>

            <!--    <button type="submit" class="btn btn-sm btn-primary">
                    <fa-icon *ngIf="isLoading" icon="spinner"></fa-icon>
                    <fa-icon *ngIf="!isLoading" icon="paper-plane"></fa-icon>           
                    &nbsp; <span jhiTranslate="entity.action.filter">Filter</span>
                </button>
 -->
            
        </form>


        <br>

        <div class="table-responsive" id="entities" *ngIf="trackerEntityInstances && trackerEntityInstances.length > 0">
            <table class="table table-bordered table-striped responsive-table" aria-describedby="page-heading">
                <thead>
                    <tr>
                        
                        <th scope="col"><span>Nom</span> </th>
                        <th scope="col"><span>Prenom</span> </th>
                        <th scope="col"><span>Sexe</span>
                            <fa-icon icon="sort"></fa-icon>
                        </th>
                        <th scope="col" ><span>Profession</span>
                            <fa-icon icon="sort"></fa-icon>
                        </th>
                        <th scope="col"><span>Telephone</span>
                            <fa-icon icon="sort"></fa-icon>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let trackerEntityInstance of trackerEntityInstances ;trackBy: trackId">
                        
                        <td data-title="Nom">{{ trackerEntityInstance.nom }}</td>
                        <td data-title="Prenom">{{ trackerEntityInstance.prenom }}</td>
                        <td data-title="Sexe">{{ trackerEntityInstance.sexe }}</td>
                        <td data-title="Profession">{{ trackerEntityInstance.profession }}</td>
                       
                        <td data-title="Telephone">{{ trackerEntityInstance.telephone }}</td>
    
                    </tr>
                </tbody>
            </table>
        </div>

        <div [ngSwitch]="isAuthenticated()">
            
        </div>

    </div>

</div>
