<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="plainte">
            <h2><span>Plainte</span> {{ plainte.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Telephone</span></dt>
                <dd>
                    <span>{{ plainte.telephone }}</span>
                </dd>
                <dt><span>Local Id</span></dt>
                <dd>
                    <span>{{ plainte.localId }}</span>
                </dd>
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{ plainte.code }}</span>
                </dd>
                <dt><span>Commentaire</span></dt>
                <dd>
                    <span>{{ plainte.commentaire }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plainte', plainte.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
