<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tracker-entity-instance-heading">Create or edit a Tracker Entity Instance</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_uid">Uid</label>
                    <input type="text" class="form-control" name="uid" id="field_uid"
                           formControlName="uid"/>
                    <div *ngIf="editForm.get('uid')!.invalid && (editForm.get('uid')!.dirty || editForm.get('uid')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uid')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                    <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                           formControlName="prenom"/>
                    <div *ngIf="editForm.get('prenom')!.invalid && (editForm.get('prenom')!.dirty || editForm.get('prenom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prenom')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sexe">Sexe</label>
                    <input type="text" class="form-control" name="sexe" id="field_sexe"
                           formControlName="sexe"/>
                    <div *ngIf="editForm.get('sexe')!.invalid && (editForm.get('sexe')!.dirty || editForm.get('sexe')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sexe')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_profession">Profession</label>
                    <input type="text" class="form-control" name="profession" id="field_profession"
                           formControlName="profession"/>
                    <div *ngIf="editForm.get('profession')!.invalid && (editForm.get('profession')!.dirty || editForm.get('profession')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('profession')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_age">Age</label>
                    <input type="number" class="form-control" name="age" id="field_age"
                           formControlName="age"/>
                    <div *ngIf="editForm.get('age')!.invalid && (editForm.get('age')!.dirty || editForm.get('age')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('age')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('age')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_region">Region</label>
                    <input type="text" class="form-control" name="region" id="field_region"
                           formControlName="region"/>
                    <div *ngIf="editForm.get('region')!.invalid && (editForm.get('region')!.dirty || editForm.get('region')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('region')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_prefecture">Prefecture</label>
                    <input type="text" class="form-control" name="prefecture" id="field_prefecture"
                           formControlName="prefecture"/>
                    <div *ngIf="editForm.get('prefecture')!.invalid && (editForm.get('prefecture')!.dirty || editForm.get('prefecture')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prefecture')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sousPrefecture">Sous Prefecture</label>
                    <input type="text" class="form-control" name="sousPrefecture" id="field_sousPrefecture"
                           formControlName="sousPrefecture"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_quartier">Quartier</label>
                    <input type="text" class="form-control" name="quartier" id="field_quartier"
                           formControlName="quartier"/>
                    <div *ngIf="editForm.get('quartier')!.invalid && (editForm.get('quartier')!.dirty || editForm.get('quartier')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('quartier')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_village">Village</label>
                    <input type="text" class="form-control" name="village" id="field_village"
                           formControlName="village"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_telephone">Telephone</label>
                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                           formControlName="telephone"/>
                    <div *ngIf="editForm.get('telephone')!.invalid && (editForm.get('telephone')!.dirty || editForm.get('telephone')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('telephone')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_localId">Local Id</label>
                    <input type="text" class="form-control" name="localId" id="field_localId"
                           formControlName="localId"/>
                    <div *ngIf="editForm.get('localId')!.invalid && (editForm.get('localId')!.dirty || editForm.get('localId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('localId')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_code">Code</label>
                    <input type="number" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_certificate">Certificate</label>
                    <input type="text" class="form-control" name="certificate" id="field_certificate"
                           formControlName="certificate"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
