<div>
    <h2 id="page-heading">
        <span>Tracker Entity Instances</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="trackerEntityInstances?.length === 0">
        <span>No trackerEntityInstances found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="trackerEntityInstances && trackerEntityInstances.length > 0">
        <table class="table table-bordered table-striped responsive-table" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  ><span>Uid</span> </th>
                    <th scope="col"  jhiSortBy="localId"><span>Local Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  ><span>Nom</span> </th>
                    <th scope="col"  ><span>Prenom</span> </th>
                    <th scope="col"  jhiSortBy="sexe"><span>Sexe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="profession"><span>Profession</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="age"><span>Age</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  ><span>Region</span> </th>
                    <th scope="col"  ><span>Prefecture</span> </th>
                    <th scope="col"  ><span>Sous Prefecture</span> </th>
                    <th scope="col"  ><span>Quartier</span> </th>
                    <th scope="col"  jhiSortBy="telephone"><span>Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trackerEntityInstance of trackerEntityInstances ;trackBy: trackId">
                    <td data-title="Uid"><a [routerLink]="['/tracker-entity-instance', trackerEntityInstance.id, 'view']">{{ trackerEntityInstance.uid }}</a></td>
                    <td data-title="Local Id">{{ trackerEntityInstance.localId }}</td>
                    <td data-title="Nom">{{ trackerEntityInstance.nom }}</td>
                    <td data-title="Prenom">{{ trackerEntityInstance.prenom }}</td>
                    <td data-title="Sexe">{{ trackerEntityInstance.sexe }}</td>
                    <td data-title="Profession">{{ trackerEntityInstance.profession }}</td>
                    <td data-title="Age">{{ trackerEntityInstance.age }} ans</td>
                    <td data-title="Region">{{ trackerEntityInstance.region }}</td>
                    <td data-title="Prefecture">{{ trackerEntityInstance.prefecture }}</td>
                    <td data-title="Sous Prefecture">{{ trackerEntityInstance.sousPrefecture }}</td>
                    <td data-title="Quartier">{{ trackerEntityInstance.quartier }}</td>
                    <td data-title="Telephone">{{ trackerEntityInstance.telephone }}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="trackerEntityInstances && trackerEntityInstances.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
